<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #app {
        padding: 20px;
        display: block;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        margin-top: 16px;
        cursor: pointer;
      }
      .strikeout {
        text-decoration: line-through;
        color: grey;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 v-bind:title="name">{{ name }}</h1>
      <h2>V-bind</h2>
      <p>總價: {{ subtotalMethods() }}</p>
      <ul>
        <li v-for="(item,index) in items" :class="{strikeout:item.isDone}" @click="toggleDone(item)">
          {{ index+1 }}:{{ item.text }}
        </li>
      </ul>
      <h2>V-model</h2>
      <h3>#Checkbox Boolean</h3>
      <input type="checkbox" id="checkbox" v-model="checked" />
      <label for="checkbox">狀態:{{ checked }}</label>
      <h3>#Checkbox bond to same Array</h3>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames" />
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
      <label for="mike">Mike</label>
      <br />
      <span>Checked names: {{ checkedNames }}</span>
      <h3>#Radio</h3>
      <input type="radio" id="one" value="One" v-model="picked" />
      <label for="one">One</label>
      <br />
      <input type="radio" id="two" value="Two" v-model="picked" />
      <label for="two">Two</label>
      <br />
      <span>Picked: {{ picked }}</span>
      <h3>#Select</h3>
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>
      <p>v-for雙重迴圈</p>
      <ul v-for="set in sets">
        <li v-for="n in even(set)">{{set}},{{ n }}</li>
      </ul>
      <p>v-for:</p>
      <span v-for="n in evenNumbers">{{ n }},</span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          selected: "",
          picked: "One",
          checked: false,
          checkedNames: [],
          name: "Jess",
          items: [
            {
              text: "learn javascript",
              isDone: true,
            },
            {
              text: "learn Vue",
              isDone: false,
            },
            {
              text: "learn css",
              isDone: true,
            },
          ],
          numbers: [1, 2, 3, 4, 5],
          evens: [],
          sets: [
            [1, 2, 3, 4, 5],
            [6, 7, 8, 9, 10],
          ],
        },
        computed: {
          subtotalComputed: function () {
            console.log("computed");
            return 100 * 50;
          },
          evenNumbers: function () {
            return this.numbers.filter(function (number) {
              return number % 2 === 0;
            });
          },
        },
        methods: {
          subtotalMethods: function () {
            // console.log("methods");
            return 100 * 50;
          },
          toggleDone: function (item) {
            item.isDone = !item.isDone;
            console.log(typeof item.isDone, item.isDone);
          },
          even: function (numbers) {
            return numbers.filter(function (number) {
              return number % 2 === 0;
            });
          },
        },
      });
      // vm.$mount("#app");
      // vm.$data.name = "Jered";
    </script>
  </body>
</html>
