<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>

    <style>
      #app {
        padding: 20px;
        display: block;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        margin-top: 16px;
        cursor: pointer;
      }
      .box,
      .show {
        width: 50px;
        height: 50px;
        background-color: #aaa;
        color: #fff;
        margin-top: 5px;
        text-align: center;
        line-height: 50px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>模板語法</h2>
      <p>原本：{{ greetion }}</p>
      <p>反轉：{{ greetion.split('').reverse().join('') }}</p>
      <p>反轉：{{ reverseGreet }}</p>

      <h2>watch監聽 v.s computed計算</h2>
      <div id="demo">{{ fullName }}</div>

      <h2>條件渲染</h2>
      <!-- 搭配select/option v-model -->
      <select v-model="type">
        <option disabled value="">Please select one</option>
        <option>a</option>
        <option>b</option>
        <option>C</option>
      </select>

      <p>v-if</p>
      <div class="box" v-if="type === 'a' ">a</div>
      <div class="box" v-else-if="type === 'b' ">b</div>
      <div class="box" v-else="type === 'c' ">c</div>
      <p>v-show</p>
      <div class="show" v-show="ok">showA</div>

      <h2>事件處理</h2>
      <!-- $event 事件變量 -->
      <button @click="greet('vue',$event)">點擊greet</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          greetion: "你好呀",
          type: "a",
          ok: true,
          firstName: "Jess",
          lastName: "Wu",
          fullName: "Jess Wu",
        },
        methods: {
          greet: function (str, e) {
            alert(`Hi~${str}`);
            console.log(e);
          },
        },
        watch: {
          firstName: function (val) {
            this.fullName = val + " " + this.lastName;
          },
          lastName: function (val) {
            this.fullName = this.firstName + " " + val;
          },
        },
        computed: {
          reverseGreet: function () {
            return this.greetion.split("").reverse().join("");
          },
        },
      });
      // vm.$mount("#app");
      // vm.$data.name = "Jered";
    </script>
  </body>
</html>
